# Python
__pycache__/
*.py[cod]
services/*/.venv/
services/frontend/dist/
services/gateway/.venv/
# Node
services/frontend/node_modules/

# Misc
.env
services/gateway/.pdm-python
logs/
compose-logs.txt

# Test/tooling outputs
/bin/
/etc/
/**/bin/
/**/etc/
/**/.venv
/**/node_modules/.bin
/**/node_modules

examples/psyche-simulation/test*
examples/psyche-simulation/venv
examples/psyche-simulation/patches
examples/psyche-simulation/*.log
examples/psyche-simulation/logs
logs/frontend.log
